<table class="table table-hover">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Created_At</th>
    <th scope="col">Author_Id</th>
    <th scope="col">Team_Id</th>
    <th scope="col">{{ _service.projects?.length }}</th>
  </tr>
  <tr *ngFor="let project of _service.projects">
    <td (click)="EditProject(project)">{{project?.Id}}</td>
    <td (click)="EditProject(project)">{{project?.Name | shortDe}}</td>
    <td (click)="EditProject(project)">{{project?.Description| shortDe}}</td>
    <td (click)="EditProject(project)">{{project?.Created_At | dateUa}}</td>
    <td (click)="EditProject(project)">{{project?.Author_Id}}</td>
    <td (click)="EditProject(project)">{{project?.Team_Id}}</td>
    <td><button class="btn btn-danger" type="button" (click)="DeleteProject(project.Id)">-</button></td>
  </tr>
</table>