<div class="container">
  <H1 class="display-2 text-center">Users</H1>
<div class="row">
<div class="container col-3">
<app-user-form></app-user-form>
</div>

<div class="container col-9">
<app-user-list></app-user-list>
</div>
</div>
</div>
