<div class="container">
  <form #projectForm="ngForm">

    <div class="form-group">
      <label for="id">Id</label>
      <input name="Id" #id="ngModel" required [(ngModel)]="_service.projectFormData.Id" type="text" class="form-control" id="id" placeholder="id" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="Name">Name</label>
      <input name="Name" #Name="ngModel" required [(ngModel)]="_service.projectFormData.Name" type="text" class="form-control" id="Name" placeholder="Name" [ngModelOptions]="{standalone: true}">
    </div>
    
    <div class="form-group">
      <label for="Description">Description</label>
      <input name="Description" #Description="ngModel" required [(ngModel)]="_service.projectFormData.Description" type="text" class="form-control" id="Description" placeholder="Description" [ngModelOptions]="{standalone: true}"> 
    </div>

    <div class="form-group">
      <label for="Created_At">Created At</label>
      <input name="Created_At" #Created_At="ngModel" [(ngModel)]="_service.projectFormData.Created_At" type="datetime" class="form-control" id="Created_At" placeholder="Created At" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group">
      <label for="Author_Id">Author Id</label>
      <input name="Author_Id" #Author_Id="ngModel" [(ngModel)]="_service.projectFormData.Author_Id" type="text" class="form-control" id="Author_Id" placeholder="Author Id" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="Team_Id">Team Id</label>
      <input name="Team_Id" #Team_Id="ngModel" [(ngModel)]="_service.projectFormData.Team_Id" type="text" class="form-control" id="Team_Id" placeholder="Team Id" [ngModelOptions]="{standalone: true}">
    </div>

    <button class="btn btn-success"  (click)="addProject(projectForm)" [disabled]="projectForm.invalid">Submit</button>
    <button class="btn btn-warning" (click)="editProject(projectForm)" [disabled]="projectForm.invalid">Update</button>

  </form>
</div>
