<table class="table table-hover">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Birthday</th>
    <th scope="col">Registered_At</th>
    <th scope="col">Team_Id</th>
    <th scope="col">{{ _service.users?.length }}</th>
  </tr>
  <tr *ngFor="let user of _service.users">
    <td (click)="EditUser(user)">{{user?.Id}}</td>
    <td (click)="EditUser(user)">{{user?.First_Name}}</td>
    <td (click)="EditUser(user)">{{user?.Last_Name }}</td>
    <td (click)="EditUser(user)">{{user?.Email}}</td>
    <td (click)="EditUser(user)">{{user?.Birthday | dateUa}}</td>
    <td (click)="EditUser(user)">{{user?.Registered_At| dateUa}}</td>
    <td (click)="EditUser(user)">{{user?.Team_Id}}</td>
    <td><button class="btn btn-danger" type="button" (click)="DeleteUser(user.Id)">-</button></td>
  </tr>
</table>