<div class="container">
  <H1 class="display-2 text-center">Teams</H1>
<div class="row">
<div class="container col-3">
<app-team-form></app-team-form>
</div>

<div class="container col-9">
<app-team-list></app-team-list>
</div>
</div>
</div>
