<div class="container">
  <H1 class="display-2 text-center">Projects</H1>
<div class="row">
<div class="container col-3">
<app-project-form></app-project-form>
</div>

<div class="container col-9">
<app-project-list></app-project-list>
</div>
</div>
</div>
