<table class="table table-hover">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">State</th>
        <th scope="col">Created_At</th>
        <th scope="col">Finished_At</th>
        <th scope="col">Project_Id</th>
        <th scope="col">Performer_Id</th>
        <th scope="col">{{ _service.tasks?.length }}</th>
      </tr>
      <tr *ngFor="let task of _service.tasks">
        <td (click)="EditTask(task)">{{task?.Id}}</td>
        <td (click)="EditTask(task)">{{task?.Name | shortDe}}</td>
        <td (click)="EditTask(task)">{{task?.Description| shortDe}}</td>
        <td (click)="EditTask(task)"><span appExample [taskStatus]="task?.State"></span></td>
        <td (click)="EditTask(task)">{{task?.Created_At | dateUa}}</td>
        <td (click)="EditTask(task)">{{task?.Finished_At| dateUa}}</td>
        <td (click)="EditTask(task)">{{task?.Project_Id}}</td>
        <td (click)="EditTask(task)">{{task?.Performer_Id}}</td>
        <td><button class="btn btn-danger" type="button" (click)="DeleteTask(task.Id)">-</button></td>
      </tr>
</table>