<div class="container">
  <form #userForm="ngForm">

    <div class="form-group">
      <label for="id">Id</label>
      <input name="Id" #id="ngModel" required [(ngModel)]="_service.userFormData.Id" type="text" class="form-control" id="id" placeholder="id" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="First_Name">First Name</label>
      <input name="First_Name" #First_Name="ngModel" required [(ngModel)]="_service.userFormData.First_Name" type="text" class="form-control" id="First_Name" placeholder="First Name" [ngModelOptions]="{standalone: true}">
    </div>
    
    <div class="form-group">
      <label for="Last_Name">Last Name</label>
      <input name="Last_Name" #Last_Name="ngModel" required [(ngModel)]="_service.userFormData.Last_Name" type="text" class="form-control" id="Last_Name" placeholder="Last Name" [ngModelOptions]="{standalone: true}"> 
    </div>
    <div class="form-group">
      <label for="Email">Email</label>
      <input name="Email" #Email="ngModel" required [(ngModel)]="_service.userFormData.Email" type="text" class="form-control" id="Email" placeholder="Email" [ngModelOptions]="{standalone: true}"> 
    </div>

    <div class="form-group">
      <label for="Birthday">Birthday</label>
      <input name="Birthday" #Birthday="ngModel" [(ngModel)]="_service.userFormData.Birthday" type="datetime" class="form-control" id="Birthday" placeholder="Birthday" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="Registered_At">Registered At</label>
      <input name="Registered_At" #Registered_At="ngModel" [(ngModel)]="_service.userFormData.Registered_At" type="datetime" class="form-control" id="Registered_At" placeholder="Registered At" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group">
      <label for="Team_Id">Team Id</label>
      <input name="Team_Id" #Team_Id="ngModel" [(ngModel)]="_service.userFormData.Team_Id" type="text" class="form-control" id="Team_Id" placeholder="Team Id" [ngModelOptions]="{standalone: true}">
    </div>

    <button class="btn btn-success"  (click)="addUser(userForm)" [disabled]="userForm.invalid">Submit</button>
    <button class="btn btn-warning" (click)="editUser(userForm)" [disabled]="userForm.invalid">Update</button>

  </form>
</div>
