<div class="container">
  <form #teamForm="ngForm">

    <div class="form-group">
      <label for="id">Id</label>
      <input name="Id" #id="ngModel" required [(ngModel)]="_service.teamFormData.Id" type="text" class="form-control" id="id" placeholder="id" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group">
      <label for="Name">Name</label>
      <input name="Name" #Name="ngModel" required [(ngModel)]="_service.teamFormData.Name" type="text" class="form-control" id="Name" placeholder="Name" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group">
      <label for="Created_At">Created At</label>
      <input name="Created_At" #Created_At="ngModel" [(ngModel)]="_service.teamFormData.Created_At" type="datetime" class="form-control" id="Created_At" placeholder="Created At" [ngModelOptions]="{standalone: true}">
    </div>

    <button class="btn btn-success"  (click)="addTeam(teamForm)" [disabled]="teamForm.invalid">Submit</button>
    <button class="btn btn-warning" (click)="editTeam(teamForm)" [disabled]="teamForm.invalid">Update</button>

  </form>
</div>
