<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Angular Client</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/users']">Users</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/teams']">Teams</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/tasks']">Tasks</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/projects']">Projects</a>
            </li>
        </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
