<table class="table table-hover">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Created_At</th>
    <th scope="col">{{_service.teams.length}}</th>
  </tr>
  <tr *ngFor="let team of _service.teams">
    <td (click)="EditTeam(team)">{{team?.Id}}</td>
    <td (click)="EditTeam(team)">{{team?.Name }}</td>
    <td (click)="EditTeam(team)">{{team?.Created_At | dateUa}}</td>
    <td><button class="btn btn-danger" type="button" (click)="DeleteTeam(team.Id)">-</button></td>
  </tr>
</table>