<div class="container">
  <form #taskForm="ngForm">

    <div class="form-group">
      <label for="id">Id</label>
      <input name="Id" #id="ngModel" required [(ngModel)]="_service.taskFormData.Id" type="text" class="form-control" id="id" placeholder="id" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="Name">Name</label>
      <input name="Name" #Name="ngModel" required [(ngModel)]="_service.taskFormData.Name" type="text" class="form-control" id="Name" placeholder="Name" [ngModelOptions]="{standalone: true}">
    </div>
    
    <div class="form-group">
      <label for="Description">Description</label>
      <input name="Description" #Description="ngModel" required [(ngModel)]="_service.taskFormData.Description" type="text" class="form-control" id="Description" placeholder="Description" [ngModelOptions]="{standalone: true}"> 
    </div>
    <div class="form-group">
      <label for="State">State</label>
      <select #State="ngModel" required [(ngModel)]="_service.taskFormData.State" type="text" class="form-control" id="State" placeholder="State" [ngModelOptions]="{standalone: true}">
        <option value="0">Created</option>
        <option value="1">Started</option>
        <option value="2">Finished</option>
        <option value="3">Canceled</option> 
      </select>
    </div>

    <div class="form-group">
      <label for="Created_At">Created At</label>
      <input name="Created_At" #Created_At="ngModel" [(ngModel)]="_service.taskFormData.Created_At" type="datetime" class="form-control" id="Created_At" placeholder="Created At" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="Finished_At">Finished At</label>
      <input name="Finished_At" #Finished_At="ngModel" [(ngModel)]="_service.taskFormData.Finished_At" type="datetime" class="form-control" id="Finished_At" placeholder="Finished At" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group">
      <label for="Project_Id">Project Id</label>
      <input name="Project_Id" #Project_Id="ngModel" [(ngModel)]="_service.taskFormData.Project_Id" type="text" class="form-control" id="Project_Id" placeholder="Project Id" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="Performer_Id">Performer Id</label>
      <input name="Performer_Id" #Performer_Id="ngModel" [(ngModel)]="_service.taskFormData.Performer_Id" type="text" class="form-control" id="Performer_Id" placeholder="Performer Id" [ngModelOptions]="{standalone: true}">
    </div>

    <button class="btn btn-success"  (click)="addTask(taskForm)" [disabled]="taskForm.invalid">Submit</button>
    <button class="btn btn-warning" (click)="editTask(taskForm)" [disabled]="taskForm.invalid">Update</button>

  </form>
</div>
