<div class="container">
      <H1 class="display-2 text-center">Tasks</H1>
  <div class="row">
    <div class="container col-3">
<app-task-form></app-task-form>
    </div>

    <div class="container col-9">
<app-task-list></app-task-list>
    </div>
</div>
</div>
